name: Update Docker Hub Description
on:
  push:
    branches:
      - master
    paths:
      - docker/README.md
      - .github/workflows/dockerhub-description.yml
jobs:
  dockerHubDescription:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4

    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v2.4.2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: tillsteinbach/weconnect-mqtt
        short-description: ${{ github.event.repository.description }}
        readme-filepath: ./README.md
