name: Upload Edge Docker Image

on:
  push:
    branches: [ main ]
    paths:
     - .github/workflows/python-docker-edge.yml
     - docker/Dockerfile-edge
     - weconnect_mqtt/**
     - '**requirements.txt'
     - '**.cfg'
     - '**.py'

jobs:
  docker-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.4.0
        with:
          images: |
            tillsteinbach/weconnect-mqtt
            ghcr.io/tillsteinbach/weconnect-mqtt
          tags: |
            type=edge
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.0.0
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0
      - name: Login to DockerHub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5.0.0
        with:
          context: .
          file: docker/Dockerfile-edge
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
